.npress-page-builder{
    position: relative;
    min-height: 50px;
    width: 100%;
    border: 1px dashed #aaa;
    background: #fff;
    padding: 10px 10px 20px 10px;
    margin-bottom: 10px;
}
.npress-page-builder .container,
.npress-page-builder .container-fluid,
.npress-page-builder .col-content{
    padding-top: 10px;
    padding-bottom: 30px;
}
.npress-page-builder-toolbar{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}
.npress-page-builder-widget{
    position: relative;
    border: 1px dashed #aaa;
}
.npress-page-builder-widget-toolbar{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
[class^="col-"] .npress-page-builder-widget-toolbar{
    right: 9px;
}