{% if data.id is not empty %}
    <input type="hidden" name="id" value={{ data.id }} />
{% endif %}
<div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" value="{{ data.email|default('') }}" data-validate-email>
</div>
<div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" {% if data.id is empty %}data-validate-presence data-validate-min-length="6" data-validate-identical-to='input[name="password_confirm"]'{% endif %}>
</div>
<div class="form-group">
    <label>Password confirm</label>
    <input type="password" class="form-control" name="password_confirm" {% if data.id is empty %}data-validate-presence{% endif %}>
</div>
<div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control" name="created_at" value="{{ data.created_at|default('') }}" data-calendar>
</div>