<p class="text-center mb-1"><strong>{{ data.name }}</strong></p>
<div class="list-group nested-sortable js-selected-menu-list-group" id="{{ data.slug }}" data-children="0" data-menu-id="{{ data.id }}">
    {% for d in data.items|default([]) %}
        {% include "menu-list-item-template.twig" with { data: d } %}
    {% endfor %}
</div>
<button type="submit" class="mt-1 btn btn-primary btn-save-menu btn-sm js-save-menu">Save menu items</button>
{% if not data.is_default %}
    <button type="button" class="mt-1 btn btn-info btn-sm js-set-default-menu" data-menu-id="{{ data.id }}">Set as default menu</button>
{% endif %}