<footer class="mt-3">
    <div class="container py-5">
        <div class="footer-social px-3 py-2">
            <span>Follow Us</span>
            <a target="_blank" href="#" class="mx-1"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="#" class="mx-1"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="#" class="mx-1"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="row">
            <div class="col-3">
                <img class="w-50 img-fluid mb-3" src="{{ "logo.png"|theme_asset }}" />
                <p>Donec a felis sed ligula aliquet sollicitudin a in elit. Nunc at commodo erat, fringilla egestas tortor.</p>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            </div>
            <div class="col-3">
                <h5 class="mb-3">CONTACT US</h5>
                <p><i class="fas fa-map-marker-alt"></i> 1600 Amphitheatre Parkway, Mountain View CA 94043</p>
                <p><i class="fas fa-phone-alt"></i> 1.800.451.128</p>
                <p><i class="fas fa-envelope"></i> <a href="#">admin@education-lms.com</a></p>
                <p><i class="fas fa-fax"></i> FAX: (123) 123-4567</p>
            </div>
            <div class="col-3">
                <h5 class="mb-3">LINKS</h5>
                <ul class="pl-3">
                    <li class="my-2"><a href="#">Home</a></li>
                    <li class="my-2"><a href="#">About us</a></li>
                    <li class="my-2"><a href="#">Shop</a></li>
                    <li class="my-2"><a href="#">Blog</a></li>
                    <li class="my-2"><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5 class="mb-3">OPEN HOURS</h5>
                <p>Our support available to help you 24 hours a day, seven days a week.</p>
                <ul class="list-unstyled">
                    <li>Monday-Friday: <strong>8am to 5pm</strong></li>
                    <li>Saturday: <strong>10am to 3pm</strong></li>
                    <li>Sunday: <strong>Closed</strong></li>
                </ul>
            </div>
        </div>
    </div>
</footer>