{% extends "layout.twig" %}

{% block css %}
<link rel="stylesheet" href="{{ "education.css"|theme_asset }}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ "script.js"|theme_asset }}"></script>
{% endblock %}

{% block navigation %}
    <div class="top-black-band fixed-top py-2">
        <div class="{{ settings('site_width')|default('container') }}">
            <span class="mr-2"><i class="fas fa-phone-alt"></i> +1 123-456-7890</span>
            <span><i class="fas fa-map-marker-alt"></i> 1010 Moon ave, New York, NY US</span>
        </div>
    </div>

    {% include 'partials/nav.twig' with { menu: menu, page: page } only %}
{% endblock %}

{% block content %}
{{ page.content }}

{% endblock %}

{% block sidebar %}
My theme sidebar
{% endblock %}

{% block comments %}
{% endblock %}

{% block footer %}
    {% include './footer.twig' %}
{% endblock %}
