{% extends "admin-layout.twig" %}

{% block header_css %}
    {% include './partials/_codemirror-css-dependencies.twig' %}
{% endblock %}

{% block footer_js %}
    {% include './partials/_codemirror-js-dependencies.twig' %}
    <script type="text/javascript" src="/js/admin/base-admin-page.js"></script>
    <script type="text/javascript" src="/js/admin/settings.js"></script>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <button class="btn btn-primary btn-sm js-new-item">New item</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 js-setting-page-wrapper"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block templates %}
{% endblock %}