{% extends "admin-layout.twig" %}

{% block footer_js %}
    <script type="text/javascript" src="/js/admin/base-admin-page.js"></script>
    <script type="text/javascript" src="/js/admin/themes.js"></script>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body js-data-wrapper"></div>
        <div class="card-footer js-pagination-wrapper"></div>
    </div>
{% endblock %}